<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <div class="site-main-wrapper">

        <button class="hamburger">
            <img src="images/hamberger.png">
        </button>

        <div class="mobile-nav">
            <button class="times">
                <img src="images/times.png">
            </button>
            <ul>
                <img class="mobile-logo" src="images/logo.svg">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        
        <header>
            <div class="container">
                <nav id="main-nav" class="flex items-center justify-between">
                    <div class="left flex items-center">
                        <div class="branding">
                            <img src="images/logo.svg">
                        </div>
                        <div>
                            <a href="#">Home</a>
                            <a href="#about">About</a>
                            <a href="#services">Services</a>
                            <a href="#projects">Projects</a>
                            <a href="#blog">Blog</a>
                        </div>
                    </div>
                    <div class="right">
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </nav>
                <div class="hero flex items-center justify-between">
                    <div class="left flex-1 flex justify-center">
                        <img src="images/man.jpg">
                    </div>
                    <div class="right flex-1">
                        <h6>Md. Salman Farsi</h6>
                        <h1>I am a Creative <span>Designer</span></h1>
                        <p>I’m a passionate and dedicated Computer Science student. I specialize in developing innovative solutions, crafting intuitive user experiences, and building efficient systems. Explore my projects and skills to learn more about me!</p>
                        <div>
                            <button class="btn btn-secondary">DOWNLOAD CV</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <section id="about" class="about">
            <div class="container flex items-center">
                <div class="flex-1">
                    <img class="about-me-img" src="images/man-2.jpg">
                </div>
                <div class="flex-1">
                    <h1>About <span>Me</span></h1>
                    <h3>Hello! I am Farsi.</h3>
                    <p>I am a Computer Science enthusiast passionate about creating smart, efficient solutions through technology. With a strong interest in software development and UI/UX design, I strive to transform ideas into innovative, user-friendly systems. I enjoy solving challenges, learning new skills, and contributing to impactful projects.
                    </p>
                    <div class="social">
                        <a href="#"><img src="images/website.png"></a>
                        <a href="https://www.facebook.com/mdsalman.farsi.1069" target="_blank"><img src="images/facebook.png"></a>
                        <a href="#"><img src="images/twitter.png"></a>
                        <a href="https://www.pinterest.com/salmanfarsicphd/" target="_blank"><img src="images/pintrest.png"></a>
                        <a href="https://www.instagram.com/farsi.9/" target="_blank"><img src="images/instagram.png"></a>
                    </div>
                </div>
            </div>
        </section>


        <section id="services" class="services">
            <div class="container">
                <h1 class="section-heading"><span>My </span> Services</h1>
                <p>I can provide high standard clean website for your business solution.</p>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="images/brush.png">
                        <h2>Graphic Design</h2>
                        <p>There are many variations of design concepts, but the majority are tailored and refined to meet specific needs.</p>
                    </div>
                    <div class="card">
                        <img src="images/code.png">
                        <h2>Web Development</h2>
                        <p>There are many variations of websites, but most are tailored and optimized to deliver unique user experiences.</p>
                    </div>
                    <div class="card">
                        <img src="images/bag.png">
                        <h2>Media Marketing</h2>
                        <p>There are many variations of marketing strategies, but most are adapted to engage audiences and achieve impactful results.</p>
                    </div>
                    <div class="card">
                        <img src="images/desktop.png">
                        <h2>Web Design</h2>
                        <p>There are many variations of design approaches, but most are crafted to balance aesthetics and functionality seamlessly.</p>
                    </div>
                    <div class="card">
                        <img src="images/media.png">
                        <h2>Motion Graphics</h2>
                        <p>There are many variations of motion designs, but most are tailored to captivate audiences and convey stories dynamically.</p>
                    </div>
                    <div class="card">
                        <img src="images/phone.png">
                        <h2>Apps</h2>
                        <p>There are many variations of applications, but most are designed to enhance user experiences and meet specific needs efficiently.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="freelancer">
            <h1>I am available for Freelancing!</h1>
            <p>I can provide high standard clean website for your business solution.</p>
            <button class="btn btn-primary">Download CV</button>
        </section>


        <section class="reviews">
            <div class="container">
                <h1 class="section-heading"><span>My </span>Clients</h1>
                <p>I can provide high standard clean website for your business solutions.</p>
                <div class="slider">
                    <div class="slide">
                        <img src="images/lady.png">
                        <p>"The service provided by Company ABC exceeded our expectations. The team was professional, attentive, and delivered outstanding results. We were thoroughly impressed with their expertise and commitment to excellence. Highly recommended for anyone seeking reliable solutions!"</p>
                        <span>-John Doel, Company ABC-</span>
                    </div>
                    <div class="slide">
                        <img src="images/lady.png">
                        <p>"The service provided by Company ABC exceeded our expectations. The team was professional, attentive, and delivered outstanding results. We were thoroughly impressed with their expertise and commitment to excellence. Highly recommended for anyone seeking reliable solutions!"</p>
                        <span>-Maccey Doel, Company ABC-</span>
                    </div>
                    <div class="slide">
                        <img src="images/lady.png">
                        <p>"The service provided by Company ABC exceeded our expectations. The team was professional, attentive, and delivered outstanding results. We were thoroughly impressed with their expertise and commitment to excellence. Highly recommended for anyone seeking reliable solutions!"</p>
                        <span>-Linda Doel, Company ABC-</span>
                    </div>
                    <div class="slide">
                        <img src="images/lady.png">
                        <p>"The service provided by Company ABC exceeded our expectations. The team was professional, attentive, and delivered outstanding results. We were thoroughly impressed with their expertise and commitment to excellence. Highly recommended for anyone seeking reliable solutions!"</p>
                        <span>-Tadic Doel, Company ABC-</span>
                    </div>
                </div>
                <div class="slider-dots"></div>
            </div>
        </section>


        <section id="projects" class="work">
            <div class="container">
                <h1 class="section-heading"><span>My </span>Projects</h1>
                <p>I can provide high standard clean website for your business solutions.</p>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">Java Project</a>
                        </div>
                        <img src="images/rail.png">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">UI/UX Design</a>
                        </div>
                        <img src="images/agriculture.png">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="images/ph-2.png">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="images/ph-1.png">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="images/ph-2.png">
                    </div>
                    <div class="card">
                        <div class="overlay">
                            <span>Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="images/ph-3.png">
                    </div>
                </div>
            </div>
        </section>


        <section id="blog" class="blog">
            <div class="container">
                <h1 class="section-heading"><span>My </span>Blogs</h1>
                <p>I can provide high standard clean website for your business solutions.</p>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="images/article-ph-1.png">
                        </div>
                        <div class="content-wrapper">
                            <a href="#"><h1>Delivering Exceptional Service Every Day</h1></a>
                            <span>May 12, 2017</span>
                            <p>We are committed to providing top-notch service that meets your needs and exceeds expectations. Our team works diligently to ensure every project is handled with care and precision. We take pride in delivering quality results, every step of the way.</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="images/article-ph-2.png">
                        </div>
                        <div class="content-wrapper">
                            <a href="#"><h1>Innovating for the Future</h1></a>
                            <span>May 12, 2017</span>
                            <p>At the heart of our work lies a passion for innovation. We strive to bring fresh ideas to life, constantly exploring new technologies and approaches. Our goal is to stay ahead of the curve and create solutions that not only meet today's needs but also anticipate tomorrow's challenges.</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="images/article-ph-3.png">
                        </div>
                        <div class="content-wrapper">
                            <a href="#"><h1>Building Stronger Connections</h1></a>
                            <span>May 12, 2017</span>
                            <p>Success is built on relationships. We prioritize building meaningful connections with our clients and partners, ensuring mutual growth and trust. Our approach is centered around collaboration and communication, fostering long-term partnerships that deliver sustained success.</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="contact">
            <div class="container">
                <h1 class="section-heading">Contact <span>Me</span></h1>
                <p>I can provide high standar clean website for your business solutions.</p>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="images/phone-2.png">
                        <h1>Call Me On</h1>
                        <h6>+8801943401231</h6>
                    </div>
                    <div class="card">
                        <img src="images/msg.png">
                        <h1>Email Me At</h1>
                        <h6>farsicphd@gmail.com</h6>
                    </div>
                    <div class="card">
                        <img src="images/map.png">
                        <h1>Visit Office</h1>
                        <h6>Mirpur, Dhaka-1216</h6>
                    </div>
                </div>
                <form>
                    <div class="input-wrap">
                        <input type="text" placeholder="Your Name *">
                        <input type="email" placeholder="Your Email *">
                    </div>
                    <div class="input-wrap-2">
                        <input type="text" placeholder="Your Subject...">
                        <textarea placeholder="Your Message..."></textarea>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </section>


        <footer>
            <img class="footer-logo" src="images/logo.svg">
            <div class="footer-social">
                <a href="#"><img src="images/website.png"></a>
                <a href="https://www.facebook.com/mdsalman.farsi.1069" target="_blank"><img src="images/facebook.png"></a>
                <a href="#"><img src="images/twitter.png"></a>
                <a href="https://www.pinterest.com/salmanfarsicphd/" target="_blank"><img src="images/pintrest.png"></a>
                <a href="https://www.instagram.com/farsi.9/" target="_blank"><img src="images/instagram.png"></a>
            </div>
            <div class="copyright">
                © 2024 Md. Salman Farsi, All Rights Reserved.
            </div>
        </footer>


    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>